<!-- <div>{{title | uppercase}}</div> -->
<div>{{users[1] | json}}</div>
<div>{{num | percent}}</div>
<div>{{num | currency: 'UAH'}}</div>
<div>{{data | date: 'full'}}</div>
<div>{{title | slice: 0: 3}}</div>
<div>{{title | own: '!!': '??'}}</div>


<!-- D I R E C T I V E S -->
<!-- <app-root></app-root> -->
<!-- <router-outlet></router-outlet> -->


<div *ngFor="let user of users">
  <div *ngIf="user.email.endsWith('.net')" >
    {{user.name}} -- {{user.email}}
  </div>
</div>

<div *ngFor="let user of users">
  <div [ngSwitch]='user.id'>
    <p *ngSwitchCase="1">{{user.id}} -- {{user.name}}</p>
     <p *ngSwitchCase="5">{{user.id}} -- {{user.name}}</p>
  </div>
</div>

<div *ngFor="let user of users" [ngStyle]="{color: user.id > 5 ? 'red': 'green', background: 'grey'}">{{user.id}} -- {{user.name}}</div>

<div *ngFor="let user of users" [ngClass]="{target: user.id > 3}">{{user.id}} -- {{user.name}}</div>

<div *ngFor="let user of users" appNew>{{user.id}} -- {{user.name}}</div>
